<!-- Hero -->
<div class="bg-img-hero-bottom height-100vh--lg" style="background-image: url(/assets/soon.jpg);">
  <div class="container space-3-top space-5-bottom space-3--lg">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
    </div>
  </div>
</div>
<!-- End Hero -->
