<header id="header" class="u-header u-header--modern u-header--black-nav-links u-header--sticky-top-lg">

  <div id="logoAndNav" class="container-fluid">
    <!-- Nav -->

    <nav class="navbar navbar-expand-lg u-header__navbar fixed-top" id="mainNav">

      <!-- Logo -->

      <div class="u-header__navbar-brand-wrapper collapse navbar-collapse" id="navbarSupportedContent">

        <a class="navbar-brand u-header__navbar-brand " href="/home" aria-label="Space">
          <img class="u-header__navbar-brand-default" src="/assets/logo/logo2.png" alt="Logo">
        </a>
      </div>
      <!-- End Logo -->

      <!-- Responsive Toggle Button -->
      <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger" aria-label="Toggle navigation" aria-expanded="true" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
        <span class="d-none d-sm-inline-block">Menu</span>
        <span id="hamburgerTrigger" class="u-hamburger__box ml-3">
          <span class="u-hamburger__inner"></span>
        </span>
      </button>

      <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse py-0">
        <ul class="navbar-nav u-header__navbar-nav">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link js-scroll-trigger" href="/home">Home</a>
            </li>

            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link js-scroll-trigger" href=" /wine">Cave à Vin</a>
            </li>

            <li class="nav-item dropdown u-header__nav-item" data-event="hover" data-animation-in="fadeInUp" data-animation-out="fadeOut">
              <a class="nav-link dropdown-toggle u-header__nav-link " href="/home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recettes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item js-scroll-trigger" href="#">Entrées</a>
                <a class="dropdown-item js-scroll-trigger" href="#">Plats</a>
                <a class="dropdown-item" js-scroll-trigger="js-scroll-trigger" href="#">Desserts</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item js-scroll-trigger" href="#">Boissons</a>
              </div>
            </li>

          </ul>
          <!-- Button -->
          <ul class="navbar-nav flex-row u-header__secondary-nav js-scroll-trigger">

            <li class="nav-item u-header__nav-item-btn">
              <a class="btn btn-sm btn-primary" href="#signupModal" role="button" data-modal-target="#signupModal" data-overlay-color="#151b26" style="margin-right:2em;">
                <span class="fa fa-user-circle mr-1"></span>
                Signin
              </a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </header>